{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage", //根据browserlsit填写的浏览器，自动添加polyfill
        "corejs": 2
      }
    ],
    "@babel/preset-react" // 编译react
  ],
  "plugins": ["react-hot-loader/babel"]
}
